<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/images/logo1.png', width: 130, height: 80, alt: 'Mindfin Logo'}" [navbarBrandMinimized]="{src: 'assets/images/head.png', width: 50, height: 50, alt: 'mindfin Logo'}" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none" *ngIf="abc==='SUPERADMIN' || abc==='ACCOUNTANT'">
            <a class="nav-link" role="button" [routerLink]="['/account/leaveapp']" title="New Leave Application"><img src="/assets/images/leave.png" alt="leave" height="25px" width="25px">
                <span class="badge  badge-danger">{{fetchData6}}</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none" *ngIf="abc==='SUPERADMIN'">
            <a class="nav-link" role="button" [routerLink]="['/account/suggestion']" title="New Suggestion Box"><img src="/assets/images/suggestionbox.png" alt="suggestion" height="25px" width="25px">
                <span class="badge  badge-danger">{{fetchData4}}</span>
            </a>
        </li>
        <li class="nav-item d-md-down-none" *ngIf="abc==='SUPERADMIN' || abc==='ACCOUNTANT'">
            <a class="nav-link" role="button" [routerLink]="['/account/conveniencs']" title="New Conveniences"><img src="/assets/images/Bill.png" alt="Convenience" height="25px" width="25px">
                <span class="badge  badge-danger">{{fetchData5}}</span>
            </a>
        </li>

        <li class="nav-item mycss d-md-down-none">{{fetchData.name}}</li>
        <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" title="{{fetchData.name}}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                <img src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{fetchData.cimage}}" class="myimg" height="40px" width="40px" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Account Settings</strong></div>
                <a class="dropdown-item btn" [routerLink]="['/member/home']"><img src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{fetchData.cimage}}" class="myimg" alt="emp" height="30px" width="30px">{{fetchData.name}}
                </a>
                <!-- <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span
                        class="badge badge-info">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span
                        class="badge badge-success">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span
                        class="badge badge-danger">42</span></a>
                <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span
                        class="badge badge-warning">42</span></a> -->
                <a class="dropdown-item" (click)="convens()"><img src="/assets/images/Bill.png" class="myimg" alt="emp" height="30px" width="30px"> Conveniences</a>
                <a class="dropdown-item" (click)="sugbox()"><img src="/assets/images/suggestionbox.png" class="myimg" alt="emp" height="30px" width="30px"> Suggestion Box</a>
                <a class="dropdown-item" (click)="leaveapp()"><img src="/assets/images/leave.png" class="myimg" alt="emp" height="30px" width="30px"> Leave Application</a>
                <a class="dropdown-item" (click)="logout()"><img src="/assets/images/logout.png" class="myimg" alt="emp" height="30px" width="30px"> Logout</a>
            </div>
        </li>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='SUPERADMIN'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='EXECUTIVE' && isadmin==='Admin'">
        <app-sidebar-nav [navItems]="navItems8" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='EXECUTIVE' && isadmin!=='Admin'">
        <app-sidebar-nav [navItems]="navItems1" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='TELECALLER'">
        <app-sidebar-nav [navItems]="navItems2" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>

    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='DATA ENTRY'">
        <app-sidebar-nav [navItems]="navItems3" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>

    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='ACCOUNTANT'">
        <app-sidebar-nav [navItems]="navItems5" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='LOGIN'">
        <app-sidebar-nav [navItems]="navItems6" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='BACKEND'">
        <app-sidebar-nav [navItems]="navItems7" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='ADMIN'">
        <app-sidebar-nav [navItems]="navItems9" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <app-sidebar [fixed]="true" [display]="'lg'" *ngIf="abc==='CUSTOMER'">
        <app-sidebar-nav [navItems]="navItems4" [perfectScrollbar] [disabled]="sidebarMinimized" style="background:url('assets/images/123.jpg')!important;background-repeat: no-repeat!important;background-size:cover!important;">
        </app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumb></app-breadcrumb>
            <!-- Breadcrumb Menu-->
            <!-- <li class="breadcrumb-menu d-md-down-none">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn" href="#"><i class="icon-speech"></i></a>
                    <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li> -->
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
    </main>
    <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
        <tabset>
            <tab>
                <ng-template tabHeading>
                    <a role="button" title="Leave Application Status"><img src="/assets/images/leave.png" alt="leave" height="25px" width="25px"></a>
                </ng-template>
                <div class="list-group list-group-accent">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Leave Application Status </div>

                    <div *ngFor='let pro of fetchData1'>

                        <div class="list-group-item list-group-item-accent-info list-group-item-divider" *ngIf="pro.status ==='Pending' ; else Opened; ">
                            <small class="text-muted mr-3"><i class="fa fa-calendar-times-o"></i> {{pro.leaveFrom}} - {{pro.leaveTo}}</small>
                            <small class="text-muted"><i class="fa fa-clock-o"></i>  {{pro.noDays}}</small>
                            <div><strong>{{pro.reason}}</strong></div>
                        </div>

                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider" *ngIf="pro.status ==='Opened' ; else Approved;">
                                <small class="text-muted mr-3"><i class="fa fa-calendar-times-o"></i> {{pro.leaveFrom}} - {{pro.leaveTo}}</small>
                                <small class="text-muted"><i class="fa fa-clock-o"></i>  {{pro.noDays}}</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider" *ngIf="pro.status==='Approved' ; else Reject;">
                                <small class="text-muted mr-3"><i class="fa fa-calendar-times-o"></i> {{pro.leaveFrom}} - {{pro.leaveTo}}</small>
                                <small class="text-muted"><i class="fa fa-clock-o"></i>  {{pro.noDays}}</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider" *ngIf="pro.status==='Reject'">
                                <small class="text-muted mr-3"><i class="fa fa-calendar-times-o"></i> {{pro.leaveFrom}} - {{pro.leaveTo}}</small>
                                <small class="text-muted"><i class="fa fa-clock-o"></i>  {{pro.noDays}}</small>
                                <div><strong>{{pro.reason}}</strong></div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider">
                        <a class="btn badge-info" [routerLink]="['/member/indileavapp']"><i class="fa fa-eye"></i> &nbsp;View All</a>
                    </div>

                    <div class="list-group-item  list-group-item-divider">
                        <small class="text-muted badge badge-info "> Applied </small>
                        <small class="text-muted badge badge-warning"> Opened </small>
                        <small class="text-muted badge badge-success"> Approved </small>
                        <small class="text-muted badge badge-danger"> Rejected </small>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button" title="Convenience Status"><img src="/assets/images/Bill.png" alt="Convenience" height="25px" width="25px"></a>
                </ng-template>
                <div class="list-group list-group-accent">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Convenience Status</div>
                    <div *ngFor='let pro1 of fetchData2'>

                        <div class="list-group-item list-group-item-accent-info list-group-item-divider" *ngIf="pro1.status ==='Pending' ; else Opened; ">
                            <div class="avatar float-right">
                                <img class="img-avatar" src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{pro1.conImg}}" alt="Convenienceimg">
                            </div>
                            <div><strong>{{pro1.categories}}</strong></div>
                            <!-- <small class="text-muted mr-3 float-right"><i class="fa fa-th-list"></i>  {{pro1.appliedDate}}</small> -->
                        </div>

                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider" *ngIf="pro1.status ==='Opened' ; else Approved;">
                                <div class="avatar float-right">
                                    <img class="img-avatar" src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{pro1.conImg}}" alt="Convenienceimg">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                                <!-- <small class="text-muted mr-3 float-right"><i class="fa fa-th-list"></i>  {{pro1.appliedDate}}</small> -->
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider" *ngIf="pro1.status==='Approved' ; else Reject;">
                                <div class="avatar float-right">
                                    <img class="img-avatar" src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{pro1.conImg}}" alt="Convenienceimg">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                                <!-- <small class="text-muted mr-3 float-right"><i class="fa fa-th-list"></i>  {{pro1.appliedDate}}</small> -->
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider" *ngIf="pro1.status==='Reject'">
                                <div class="avatar float-right">
                                    <img class="img-avatar" src="https://mindfinfiles.blob.core.windows.net/mindfin-backend/{{pro1.conImg}}" alt="Convenienceimg">
                                </div>
                                <div><strong>{{pro1.categories}}</strong></div>
                                <!-- <small class="text-muted mr-3 float-right"><i class="fa fa-th-list"></i>  {{pro1.appliedDate}}</small> -->
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider">
                        <a class="btn badge-info" [routerLink]="['/member/indiconve']"><i class="fa fa-eye"></i> &nbsp;View All</a>
                    </div>

                    <div class="list-group-item  list-group-item-divider">
                        <small class="text-muted badge badge-info "> Applied </small>
                        <small class="text-muted badge badge-warning"> Opened </small>
                        <small class="text-muted badge badge-success"> Approved </small>
                        <small class="text-muted badge badge-danger"> Rejected </small>
                    </div>
                </div>
            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button" title="Suggestion Status"><img src="/assets/images/suggestionbox.png" alt="Suggestion" height="25px" width="25px"></a>
                </ng-template>
                <div class="list-group list-group-accent">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Suggestion Status</div>
                    <div *ngFor='let pro2 of fetchData3'>

                        <div class="list-group-item list-group-item-accent-info list-group-item-divider" *ngIf="pro2.status ==='Pending' ; else Opened; ">
                            <div><strong>{{pro2.suggestion}}</strong></div>
                        </div>

                        <ng-template #Opened>
                            <div class="list-group-item list-group-item-accent-warning list-group-item-divider" *ngIf="pro2.status ==='Opened' ; else Approved;">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Approved>
                            <div class="list-group-item list-group-item-accent-success list-group-item-divider" *ngIf="pro2.status==='Approved' ; else Reject;">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                        <ng-template #Reject>
                            <div class="list-group-item list-group-item-accent-danger list-group-item-divider" *ngIf="pro2.status==='Reject'">
                                <div><strong>{{pro2.suggestion}}</strong></div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="list-group-item text-center list-group-item-divider">
                        <a class="btn badge-info" [routerLink]="['/member/indiSuggest']"><i class="fa fa-eye"></i> &nbsp;View All</a>
                    </div>

                    <div class="list-group-item  list-group-item-divider">
                        <small class="text-muted badge badge-info "> Sent </small>
                        <small class="text-muted badge badge-warning"> Opened </small>
                        <small class="text-muted badge badge-success"> Approved </small>
                        <small class="text-muted badge badge-danger"> Rejected </small>
                    </div>
                </div>

            </tab>
            <tab>
                <ng-template tabHeading>
                    <a role="button" title="Upcoming Events"><img src="/assets/images/event.png" alt="event" height="25px" width="25px"></a>
                </ng-template>
                <!-- Events display code -->
                <div class="list-group list-group-accent">
                    <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Upcoming Events</div>
                </div>
            </tab>
        </tabset>
    </app-aside>
</div>
<div class="foot">
    <app-footer>
        <span>&copy; 2019 <a href="https://www.mindfin.co.in/" target="_blank" style="text-decoration:none;">Mindfin Ser
               Pvt. Ltd.</a></span>
    </app-footer>
</div>
<style>
    .myimg {
        width: 40px;
        height: 40px;
    }
    
    .pull-right {
        float: righ;
    }
    
    @media print {
        .breadcrumb,
        #non-printable {
            display: none !important;
        }
        #printable {
            display: block;
        }
    }
    
    .app-header .navbar-toggler-icon {
        background-image: none;
    }
    
    @media print {
        a[href]:after {
            content: none !important;
        }
    }
    
    @media print {
        .foot {
            display: none !important;
        }
    }
</style>