<style>
    @media(max-width:600px) {
        .extra-height.chart-wrapper {
            height: 90px !important;
        }
    }
    
    @media(min-width:601px) {
        .extra-height.chart-wrapper {
            height: 60px !important;
        }
    }
</style>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <a href="#/member/employeelist">
                <div class="card text-white bg-box1">
                    <div class="card-body pb-0">
                        <div style="font-size: 22px;">EMPLOYEE'S </div>
                    </div>
                    <div class="extra-height chart-wrapper mt-3 mx-3">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:40px"></i>
                            </div>
                            <div class="col-md-6">
                                <h1>{{fetchData3}}</h1>
                            </div>
                        </div>
                        <!-- <h1>sad</h1> -->
                    </div>
                </div>
            </a>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <a>
                <div class="card text-white bg-box3">
                    <div class="card-body pb-0">
                        <div style="font-size: 22px;">LOGIN COUNT</div>
                    </div>
                    <div class="extra-height chart-wrapper mt-3 mx-3">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-sign-in" aria-hidden="true" style="font-size:40px"></i>
                            </div>
                            <div class="col-md-6">
                                <h1>{{fetchData2}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!--/.col-->



        <div class="col-sm-6 col-lg-3">
            <a>

                <div class="card text-white bg-box3">
                    <div class="card-body pb-0">
                        <div style="font-size: 22px;">REJECTED</div>
                    </div>
                    <div class="extra-height chart-wrapper mt-3 mx-3">


                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-close" aria-hidden="true" style="font-size:40px"></i>
                            </div>
                            <div class="col-md-6">
                                <h1>{{fetchData1}}</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <a>
                <div class="card text-white bg-box4">
                    <div class="card-body pb-0">
                        <div style="font-size: 22px;">DISBURSE COUNT </div>
                    </div>
                    <div class="extra-height chart-wrapper mt-3 mx-3">
                        <div class="row">
                            <div class="col-md-6">
                                <i class="fa fa-check-circle" aria-hidden="true" style="font-size:40px"></i>
                            </div>
                            <div class="col-md-6">
                                <h1>{{fetchData5}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--/.col-->
</div>
<!--/.row-->

<div class="row">
    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>

    </div>
  </div> -->
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="card-title">Employee Data</h4>
        <div id="users-medium-pie-chart"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <h4 class="card-title">Data Entry </h4>
        <div id="users-category-pie-chart"></div>
    </div>
</div>
<!--/.col-->


<!-- 
      <a href="#">   <div class="card text-white" style="background: linear-gradient(60deg,#26c6da,#037684) !important">
        <div class="card-body pb-0">  
          <div style="font-size: 22px;">NO.Of Client</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">     
          <div class="row">
            <div class="col-md-6 dash_extra"  >
                <i class="fa fa-users" aria-hidden="true" style="font-size:56px"></i>
              </div>
              <div class="col-md-6 dash_extra">
<h1 >{{fetchData2}}</h1>
                </div>
              </div>
        </div>
      </div></a> -->